.group-list {
  background-color: #fff;
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
}

h2 {
  margin-bottom: 30px;
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
}

.group-item {
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: left; 
  font-weight: 500;
}

.create-group-button {
  background-color: navy;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.button-view{
  background-color: rgb(122, 200, 226);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.button-add{
  background-color: rgb(99, 224, 99);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
